@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Proyecto de despliegue de ASPNET en Azure</p>

    <h1>Usando Web App y Github</h1>
    <br />
</div>
